@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:wght@400;900&display=swap");

/* Common Styles for all the pages */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* Header Section */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner Image.png");
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
  width: auto;
  margin: 8px;
  border-radius: 16px;
  /* margin: 50px auto; */
  text-align: center;
  color: #fff;
}

.header-title {
  font-size: 32px;
  padding: 177px 530px 16px;
  font-weight: 400;
}

.header-text {
  font-size: 72px;
  padding: 0px 344px 177px;
  font-weight: 900;
  line-height: 95px;
}

/* Body Section */

.percentage-sec {
  text-align: center;
  font-family: Inter;
}

.percenatge {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  padding: 120px 0 48px;
}

.holidays-txt {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  padding: 0 0 16px;
}

.catagories-txt {
  padding: 0 0 48px;
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

.midnight-party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-position: bottom center;
  background-size: cover;
  /* height: 70vh; */
  /* width: auto; */
  width: 1320px;
  height: 600px;
  margin: 8px;
  border-radius: 16px;
  color: #fff;
  margin: 120px auto 0;
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
}

.party-greet {
  /* color: #FFF; */
  /* font-family: Merriweather; */
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding: 126px 94px 24px 126px;
}
.party-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 45px 0 126px;
}

.btn-join {
  height: 50px;
  width: 140px;
  padding: 8px;
  background-color: #f00;
  color: #fff;
  border: 0;
  font-size: 20px;
  margin: 48px 0 0 126px;
  cursor: pointer;
  border-radius: 16px;
}

.midnight-party img {
  padding: 68px 138px 67px 0px;
}

/* Party Venue Styles  */

.party-venue {
  width: 1300px;
  height: 600px;
  margin: 120px auto;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  border-radius: 16px;
  color: #070211;
  font-family: Inter;
  padding-top: 100px;
  line-height: 1.5;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 48px;
}

.party-venue .txt-orng {
  color: #f00;
}

/* Footer Section */
