@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:wght@400;900&display=swap");

/* Common Styles for all the pages */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* Header Section */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner Image.png");
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
  width: auto;
  margin: 8px;
  border-radius: 16px;
  /* margin: 50px auto; */
  text-align: center;
  color: #fff;
}

.header-title {
  font-size: 32px;
  padding: 177px 530px 16px;
  font-weight: 400;
}

.header-text {
  font-size: 72px;
  padding: 0px 344px 177px;
  font-weight: 900;
  line-height: 95px;
}

/* Body Section */

.percentage-sec {
  text-align: center;
  font-family: Inter;
}

.percenatge {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  padding: 120px 0 48px;
}

.holidays-txt {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  padding: 0 0 16px;
}

.catagories-txt {
  padding: 0 0 48px;
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

.midnight-party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

/* Footer Section */
